body {
  padding-top: 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  color: darkgreen;
  margin-bottom: -5px;
}

p {
  margin-bottom: -10px;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
.cell {
  border: 1px solid gray;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
.cell:active {
  outline: none;
}
.cell:disabled {
  background-color: lightblue;
}

/* Reset Button */
#resetbtn,
#hidegridbtn,
#showgridbtn {
  box-sizing: border-box;
  height: 40px;
  border: none;
  margin-left: auto;
  border-radius: 8px;
  color: green;
  font-size: 20px;
  cursor: pointer;
  background-color: lightcyan;
}

/* Main Container */
#main {
  text-align: center;
}

/* Game Instruction Text */
#ins {
  color: darkgreen;
}

.nogrid input {
  height: 40px;
  width: 60px;
  padding: 10px;
  font-size: 20px;
}

.nogrid button {
  box-sizing: border-box;
  height: 30px;
  border: none;
  margin-left: auto;
  border-radius: 8px;
  color: green;
  font-size: 15px;
  cursor: pointer;
  background-color: mintcream;
}

footer {
  position: absolute;
  left: 80%;
  bottom: 10px;
  text-align: center;
}

small {
  color: darkgreen;
}

form {
  background-color: lightgray;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 20%;
  width: 60%;
}
